* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 198vh;
	background: #000000;
	overflow: hidden;
}

.top {
	position: fixed;
	top: 1%;
	right: 25px;
	width: 100%;
	/* width: 235px;
	height: 300px; */
}

.top span {
	position: fixed;
	width: 200%;
	height: 10px;
	/* width: calc(300px + var(--i));
	height: calc(300px + var(--i)); */
	background: var(--clr);
	animation: animate 10s linear infinite;
	animation-duration: 10s;
	mix-blend-mode: plus-lighter;
	filter: blur(5px);
	transform: translateY(-10px);
}

.bottom {
	position: fixed;
	bottom: 1%;
	right: 25px;
	width: 100%;
	/* width: 235px;
	height: 300px; */
}

.bottom span {
	position: fixed;
	width: 200%;
	height: 10px;
	/* width: calc(300px + var(--i));
	height: calc(300px + var(--i)); */
	background: var(--clr);
	animation: animate 10s linear infinite;
	animation-duration: 10s;
	mix-blend-mode: plus-lighter;
	filter: blur(5px);
}

@-moz-keyframes animate {
	0% {
		background: #f58025;
	}

	50% {
		background: #0064b1;
	}

	100% {
		background: #f58025;
	}
}
@-webkit-keyframes animate {
	0% {
		background: #f58025;
	}

	50% {
		background: #0064b1;
	}

	100% {
		background: #f58025;
	}
}
@keyframes animate {
	0% {
		background: #f58025;
	}

	50% {
		background: #0064b1;
	}

	100% {
		background: #f58025;
	}
}