* {
	
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow: hidden;
	font-family: "Roboto";
	font-weight: 450;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(69, 75, 89);
	/* background: rgb(0, 0, 0); */
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50vh;
	height: 100vh;
}

.bdy {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	row-gap: 1px;
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 2%;
	padding-right: 2%;
	border: 3px solid rgb(0, 0, 0);
	/* border: 4px solid rgb(69, 75, 89); */
	/* background: rgb(69, 75, 89); */
	border-radius: 5px;
	background-color: rgb(162, 166, 182);
}

/* .bdy div {
	width: 25%;
} */

.socials_box {
	display: flex;
	width: 50%;
}

#picture {
	align-self: center;
	width: 50%;
	border: 2px solid rgba(0, 0, 0, 0);
}

/* consider an other container within bdy for socials to align correctly */
#socials {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 100%;
	/* flex-wrap: wrap; */
	border: 2px solid rgba(0, 0, 0, 0);
}

#socials a {
	text-decoration: none;
}

#socials p {
	color: rgb(0, 0, 0);
}

#bio p {
	justify-self: center;
	color: rgb(0, 0, 0);
	text-align:center;
	border: 2px solid rgba(0, 0, 0, 0);
	width: 90%;
}